/* Full background */
.auth-bg {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/8c6f6f1c-hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Card */
.auth-card {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px;
  width: 350px;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

/* Heading */
.auth-card h1 {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
  background: #333;
  color: #fff;
  font-size: 14px;
}

.auth-card input::placeholder {
  color: #b3b3b3;
}

/* Button */
.auth-card button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.auth-card button:hover {
  background-color: #f6121d;
}

/* Switch text */
.switch-text {
  margin-top: 20px;
  font-size: 14px;
  color: #737373;
}

.switch-text span {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.switch-text span:hover {
  text-decoration: underline;
}
